# 구글 OAuth 로그인 후 리다이렉트할 URL (LoginPage.jsx, RegisterPage.jsx에서 사용)
VITE_GOOGLE_OAUTH_REDIRECT=
# 백엔드 API 서버 주소
VITE_SERVER_END_POINT="http://ec2-13-209-5-104.ap-northeast-2.compute.amazonaws.com:8080"